a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}
.default { background-color: white; color: black; }
.deuteranopia { background-color: #f5f5dc; color: #000; }
.protanopia { background-color: #fdf6e3; color: #111; }
.tritanopia { background-color: #f0f0f0; color: #111; }

.font-small { font-size: 14px; }
.font-medium { font-size: 16px; }
.font-large { font-size: 20px; }

main {
    min-height: 40vh;  /* Ensures main section takes up enough space */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
}

.header-logo {
    position: absolute;
    top: 40px;
    left: 20px;
    width: 80px;  /* Adjust size as needed */
    height: auto;
}

header {
    background-color: #f99e1a;
    color: white;
    padding: 20px;
    
}
body.default header { 
    background-color: #f99e1a; 
    color: white; 
}

body.protanopia header { 
    background-color: #d4aa00; 
    color: black; 
}

body.tritanopia header { 
    background-color: #999900; 
    color: black; 
}
nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}
.container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 20px;
}
.text-content {
    width: 50%;
    font-size: 18px;
}
.hero_header {
    font-size: 100px;
    margin-left: -950px;
    margin-top : -25px;
}
.hero_text {
    font-size: 25px;
    margin-top: -80px ;
    margin-left: -190px;

}
.image {
    position: absolute;
    left: 10px;
    height: 200px;
    width: 200px;
}
.box {
    width: 45%;
    padding: 20px;
    margin: 10px;
    background-color: #ffffff;
    border: 1px solid #ccc;
}

/* Responsive Design */
@media (max-width: 600px) {
    .container {
        flex-direction: column;
    }
    .box {
        width: 90%;
    }
}

footer {
    background-color: #333;
    color: white;
    padding: 10px;
    margin-top: 20px;
}

.header-controls {
    position: absolute;
    top: 20px;
    right: 20px;
    color: white;
    font-size: 14px;
}

.header-controls label {
    margin-right: 5px;
}

.header-controls select {
    margin-right: 10px;
    padding: 4px;
    border-radius: 4px;
    border: none;
}

